<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>options web</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/angular.min.js"></script>"
</head>

<body>
  <div class="container-fluid px-0" style="max-width: 960px;">
    <h2>白名单:</h2>
    <table ng-app="whiteListTableApp" ng-controller="whiteListTableController" class="table">
      <thead>
        <tr>
          <th>域名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="domain in domains">
          <td width="90%" ng-model="domain">{{ domain }}</td>
          <td>
            <button class="btn btn-danger" ng-click="deleteRow(domain)"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
              </svg> 删除</button>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">添加域名白名单: </span>
              <input type="text" id="domainInput" class="form-control" placeholder="请输入域名" ng-model="newDomain">
              <button class="btn btn-primary" type="button" ng-click="addNewRow()"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                </svg> 添加</button>
            </div>
          </td>
        </tr>
        <tr ng-show="isVisible">
          <td colspan="2">
            <div class="container">
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <strong>错误提示:&nbsp;&nbsp;</strong><span>{{ errMsg }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="static/js/bootstrap.min.js"></script>
  <script src="options.js"></script>
</body>

</html>